h1 {
    color:red;
}

p {
    color:blue;
    font-size: 16pt;
}
/* # Es para id */
#Primera-noticia{   /* POR ID */
    color: green;
    font-size: 12 pt;
}
#Segunda-noticia{
    color:darkmagenta;
}
/* . Es para clase */
.Encabezado{  /* POR CLASE */
    font-size: 24pt;
    text-transform: uppercase;
    color: darkkhaki;
}
/* * Es selector universal y afecta a todas las etiquetas */

*.warning{
    color: red;
    font-size: 2rem;
}
.autor, .fecha, .ubicacion, #Segunda-noticia{
    text-decoration: underline;
}